<div class="row">
  <div class="col-md-12">
    <p>You are currently on the <%= req.subscription.customer.subscriptions.data[0].plan.name %> plan. <a href="/profile/subscription/change" class="">Change Plan</a></p>
    <p><a href="/profile/subscription/cancel" class="btn btn-danger">Cancel Subscription</a></p>
  </div>
</div>